Scraping one page

In [1]:
import pandas as pd
import numpy as np
url = 'https://www.pro-football-reference.com/years/2005/fantasy.htm'

df = pd.read_html(url)[0]

In [2]:
df.head()

  Unnamed: 0_level_0    Unnamed: 1_level_0 Unnamed: 2_level_0  \
                  Rk                Player                 Tm
0                  1     Shaun Alexander*+                SEA
1                  2        Larry Johnson*                KAN
2                  3  LaDainian Tomlinson*                SDG
3                  4         Tiki Barber*+                NYG
4                  5       Edgerrin James*                IND

  Unnamed: 3_level_0 Unnamed: 4_level_0 Games     Passing          ...  \
             FantPos                Age     G  GS     Cmp Att Yds  ...
0                 RB                 28    16  16       0   0   0  ...
1                 RB                 26    16   9       0   0   0  ...
2                 RB                 26    16  16       3   4  47  ...
3                 RB                 30    16  16       0   1   0  ...
4                 RB                 27    15  15       0   0   0  ...

  Scoring           Fantasy
       TD  2PM  2PP  FantPt    PPR   DKPt   FDPt  VBD PosRank OvRank
0      28  NaN  NaN     362  376.8  380.8  369.3  226       1      1
1      21  NaN  NaN     327  360.3  370.3  343.8  191       2      2
2      20  NaN  NaN     315  366.1  373.1  340.6  179       3      3
3      11    1  NaN     305  359.0  366.0  332.0  169       4      4
4      14  NaN  NaN     266  310.3  317.3  288.3  130       5      5

[5 rows x 33 columns]

In [3]:
df.columns

MultiIndex([('Unnamed: 0_level_0',      'Rk'),
            ('Unnamed: 1_level_0',  'Player'),
            ('Unnamed: 2_level_0',      'Tm'),
            ('Unnamed: 3_level_0', 'FantPos'),
            ('Unnamed: 4_level_0',     'Age'),
            (             'Games',       'G'),
            (             'Games',      'GS'),
            (           'Passing',     'Cmp'),
            (           'Passing',     'Att'),
            (           'Passing',     'Yds'),
            (           'Passing',      'TD'),
            (           'Passing',     'Int'),
            (           'Rushing',     'Att'),
            (           'Rushing',     'Yds'),
            (           'Rushing',     'Y/A'),
            (           'Rushing',      'TD'),
            (         'Receiving',     'Tgt'),
            (         'Receiving',     'Rec'),
            (         'Receiving',     'Yds'),
            (         'Receiving',     'Y/R'),
            (         'Receiving',      'TD'),
            (           'Fumbles',     'Fmb'),
            (           'Fumbles',      'FL'),
            (           'Scoring',      'TD'),
            (           'Scoring',     '2PM'),
            (           'Scoring',     '2PP'),
            (           'Fantasy',  'FantPt'),
            (           'Fantasy',     'PPR'),
            (           'Fantasy',    'DKPt'),
            (           'Fantasy',    'FDPt'),
            (           'Fantasy',     'VBD'),
            (           'Fantasy', 'PosRank'),
            (           'Fantasy',  'OvRank')],
           )

In [4]:
data = df.copy()

In [5]:
df=df.droplevel(0, axis=1)

In [6]:
df.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Shaun Alexander*+,SEA,RB,28,16,16,0,0,0,...,28,NaN,NaN,362,376.8,380.8,369.3,226,1,1
1,2,Larry Johnson*,KAN,RB,26,16,9,0,0,0,...,21,NaN,NaN,327,360.3,370.3,343.8,191,2,2
2,3,LaDainian Tomlinson*,SDG,RB,26,16,16,3,4,47,...,20,NaN,NaN,315,366.1,373.1,340.6,179,3,3
3,4,Tiki Barber*+,NYG,RB,30,16,16,0,1,0,...,11,1,NaN,305,359.0,366.0,332.0,169,4,4
4,5,Edgerrin James*,IND,RB,27,15,15,0,0,0,...,14,NaN,NaN,266,310.3,317.3,288.3,130,5,5

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 33 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Rk       606 non-null    object
 1   Player   606 non-null    object
 2   Tm       606 non-null    object
 3   FantPos  532 non-null    object
 4   Age      606 non-null    object
 5   G        606 non-null    object
 6   GS       606 non-null    object
 7   Cmp      606 non-null    object
 8   Att      606 non-null    object
 9   Yds      606 non-null    object
 10  TD       606 non-null    object
 11  Int      606 non-null    object
 12  Att      606 non-null    object
 13  Yds      606 non-null    object
 14  Y/A      320 non-null    object
 15  TD       606 non-null    object
 16  Tgt      581 non-null    object
 17  Rec      606 non-null    object
 18  Yds      606 non-null    object
 19  Y/R      440 non-null    object
 20  TD       606 non-null    object
 21  Fmb      557 non-null    object
 22  FL       203 non-null    object
 23  TD       606 non-null    object
 24  2PM      43 non-null     object
 25  2PP      35 non-null     object
 26  FantPt   524 non-null    object
 27  PPR      536 non-null    object
 28  DKPt     536 non-null    object
 29  FDPt     536 non-null    object
 30  VBD      93 non-null     object
 31  PosRank  606 non-null    object
 32  OvRank   97 non-null     object
dtypes: object(33)
memory usage: 156.4+ KB

In [8]:
df.shape

(606, 33)

In [9]:
df.head()

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
0,1,Shaun Alexander*+,SEA,RB,28,16,16,0,0,0,...,28,NaN,NaN,362,376.8,380.8,369.3,226,1,1
1,2,Larry Johnson*,KAN,RB,26,16,9,0,0,0,...,21,NaN,NaN,327,360.3,370.3,343.8,191,2,2
2,3,LaDainian Tomlinson*,SDG,RB,26,16,16,3,4,47,...,20,NaN,NaN,315,366.1,373.1,340.6,179,3,3
3,4,Tiki Barber*+,NYG,RB,30,16,16,0,1,0,...,11,1,NaN,305,359.0,366.0,332.0,169,4,4
4,5,Edgerrin James*,IND,RB,27,15,15,0,0,0,...,14,NaN,NaN,266,310.3,317.3,288.3,130,5,5

In [10]:
df.iloc[60:62]

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
60,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
61,60,Tatum Bell,DEN,RB,24,15,1,0,0,0,...,8,NaN,NaN,149,166.5,173.5,157.5,13,21,60

In [11]:
df.iloc[120:122]

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
120,118,Eric Parker,SDG,WR,26,15,9,0,0,0,...,3,NaN,NaN,94,151.0,155.0,122.5,NaN,39,NaN
121,119,Bobby Engram,SEA,WR,32,13,13,0,0,0,...,3,NaN,NaN,92,158.8,163.8,125.3,NaN,40,NaN

In [12]:
df.iloc[90:]

,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
90,89,Stephen Davis,CAR,RB,31,13,11,0,0,0,...,12,NaN,NaN,131,136.4,139.4,133.9,NaN,25,NaN
91,Rk,Player,Tm,FantPos,Age,G,GS,Cmp,Att,Yds,...,TD,2PM,2PP,FantPt,PPR,DKPt,FDPt,VBD,PosRank,OvRank
92,90,Marc Bulger,STL,QB,28,8,8,192,287,2297,...,0,NaN,NaN,129,129.9,143.9,138.4,NaN,23,NaN
93,91,Kurt Warner,ARI,QB,34,10,10,242,375,2713,...,0,NaN,1,129,130.3,147.3,138.8,NaN,22,NaN
94,92,Jamal Lewis,BAL,RB,26,15,15,0,0,0,...,4,NaN,NaN,124,155.7,166.7,139.7,NaN,26,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,583,Josh Scobey,SEA,NaN,26,16,0,0,0,0,...,0,NaN,NaN,-2,-2.0,-1.0,-2.0,NaN,176,NaN
602,584,Reggie Swinton,ARI,NaN,30,15,0,0,0,0,...,0,NaN,NaN,-2,-2.0,-1.0,-2.0,NaN,201,NaN
603,585,Aaron Rodgers,GNB,QB,22,3,0,9,16,65,...,0,NaN,NaN,-3,-2.7,0.3,-1.7,NaN,80,NaN
604,586,Fred McAfee,NOR,NaN,37,16,0,0,0,0,...,0,NaN,NaN,-4,-4.0,-2.0,-4.0,NaN,177,NaN
605,587,Rasheed Marshall,SFO,WR,24,12,0,0,0,0,...,0,NaN,NaN,-7,-5.8,-2.8,-6.3,NaN,202,NaN

In [13]:
df.isnull().sum()

Rk           0
Player       0
Tm           0
FantPos     74
Age          0
G            0
GS           0
Cmp          0
Att          0
Yds          0
TD           0
Int          0
Att          0
Yds          0
Y/A        286
TD           0
Tgt         25
Rec          0
Yds          0
Y/R        166
TD           0
Fmb         49
FL         403
TD           0
2PM        563
2PP        571
FantPt      82
PPR         70
DKPt        70
FDPt        70
VBD        513
PosRank      0
OvRank     509
dtype: int64

In [14]:
pip install XlsxWriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: XlsxWriter in /usr/local/lib/python3.8/dist-packages (3.0.3)

In [15]:
import openpyxl

In [18]:
df2 = df.copy()
with pd.ExcelWriter('Fantasy_2005.xlsx') as writer:  
  df.to_excel(writer, sheet_name='Fantasy_2005_1')